# Ignore build dirs
box/*.box
packer_cache/
output-virtualbox-iso/
.vagrant/



# Ignore public dirs
public/apache
public/cgi-bin
public/conf/*
public/error
public/icons
public/logs/*.log
public/logs/*.*_log

public/html/*

# Add back a few things
!box/.gitkeep
!public/conf/default.conf
!public/conf/vagrant.conf
!public/html/index.html
!public/logs/.gitkeep
